
		body {
            background-color: rgb(125, 129, 133);
			font-family: Arial, sans-serif;
			margin:  15px 20px 15px;
			padding: 10px 20px 15px;
		}

		main{
			background-color: rgb(110, 110, 110);
			font-family: Arial, sans-serif;
			margin: 20px 15px 20px;
			padding: 20px 15px 20px;
			box-shadow: 10px 10px 20px #292929;
			border: 5px solid rgb(124, 119, 119);
		}
		header {
			background-color: rgb(31, 27, 27);
			color: rgb(107, 111, 113);
			margin: 20px  5px;
			padding: 12px 20px 15px;
			text-align: center;
		}
		nav{
			margin: 20px 10px;
			text-align: center;
		}
		nav a{
			color:black;
			background-color: rgb(78, 78, 78);
			border-radius: 20px;
			text-decoration: none;
			transition:1s;
			padding: 5px;
			margin-left: 10px;
		}
		nav a:hover{
			background-color: black;
			color: gray;
		}
		section a{
			color:black;
			background-color: rgb(78, 78, 78);
			border-radius: 20px;
			text-decoration: none;
			transition:1s;
			text-align: center;
		}
		h1 {
			font-size: 40px;
			margin: 10px;
		}
		section{
			text-align: justify;
		}
		p {
			line-height: 1.5;
			margin: 20px 0px;
		}
		
		footer{
		background-color: #3e3e3e; 
		padding: 20px;
        max-width: 1200px;
		margin: 0 auto;
    	text-align: center; 
		font-size: 14px; 
		color: #999;
		border-radius: 30px;

		}
		.Flotar{
			float: right;
		}
		.caja{
			border: 1px solid #292929;    
			box-shadow: 2px 2px 2px #292929;  
			 border-radius: 15px;       
			 padding: 20px;      
			 margin: 10px 10px;
			 text-align: center;
		}
		.centrar{
			text-align: center;
		}
		.izquierda{
			text-align: left;
		}
		#imagenGrande{
			width: 300px;
		}
		.ImgFlotar{
			float:right;
		}
		#imagenGrande2{
			width: 350px; height: 300px;
			float: right;
		}

		.clear{
			clear:both;
		}
		.imagenesCanciones{
			width: 605px; 
			height: 560px;
			border-radius:49%;
			margin: 0px;
			transition: 1s;
		}
		.imagenesCanciones:hover{
		transform: scale(80%);
		box-shadow: 0 20px 40px #292929;	
		}
		.nombre{
			font-size: 30px;
			margin: 0px;
		}
		.canciones{
			float: left;
			margin-left: 30px;
			margin-bottom: 40px;
		}
		#cancionDerecha{
			float: right;
			margin-right:30px;
			margin-bottom: 40px;
		}
		#GolpeR{
			color:black;
			background-color: rgb(78, 78, 78);
			border-radius: 20px;
			text-decoration: none;
			transition:1s;
			padding: 5px;
			margin-left: 10px;
		}
		#GolpeR:hover{
			background-color: black;
			color: gray;
		}
		#reseña{
			color:black;
			background-color: rgb(78, 78, 78);
			border-radius: 10px;
			text-decoration: none;
			transition:1s;
			padding: 2px;
			margin-left: 10px;
			margin-bottom: 30px;
		}
		#reseña:hover{
			background-color: black;
			color: gray;
			
		}
		#imagenS{
			margin-top: 20px;
			margin-bottom: 20px;
			clear: both;
		}